/* style.css */
.view-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  
  .view-buttons button {
    margin: 5px;
    padding: 8px 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .transition-smooth {
    transition: all 0.4s ease-in-out;
  }